<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <title>User Login</title>
  <th:block th:include="layout.html :: headerFiles"></th:block>
</head>
<body>
  <header th:replace="layout.html :: header(home = '', login = active, forum = '', game ='')"></header>

  <section>
    <div>You have logged in!</div>
    <div>
      <p>Welcome user</p>
      <p th:text="${user.username}"></p>
    </div>
  </section>

  <footer th:replace="layout.html :: footer"></footer>
</body>
</html>